body {
    font-family: sans-serif;
    font-size: 1.25rem;
}
table {
    border: 2px solid black;
    padding: 2px;
    background-color: rgb(159, 255, 159);
    text-align: center;
}
td {
    border: 2px solid rgb(62, 62, 62);
    padding: 10px;
}
.row {
    background-color: rgb(21, 204, 43);
}
.row:last-of-type {
    background-color: rgb(25, 174, 42);
}